.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px; 
    color: red;
}

body
{
    background-size: cover;
}

#song-name
{
    font-size: 15px;
}

canvas
{
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #73cfd8;
}

